.App {
    height: 100vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.outputbox {
    background-color: rgb(255, 255, 255, 0.1);
    width: 50%;
    text-align: center;
    height: 20%;
    font-size: 2em;
    margin-top: 2em;
}