:root {
    --easy-difficulty: hsl(120, 60%, 50%);
    --medium-difficulty: hsl(240, 60%, 50%);
    --hard-difficulty: hsl(0, 60%, 50%);
}

.errorTemplate {
    padding: 2em;
    border-radius: 4px;
    background-color: hsla(0, 44%, 56%, 0.1);
    border: 1px solid hsla(0, 44%, 56%, 0.6);
    letter-spacing: 0.03em;
    position: relative;
    text-align: justify;
    margin: 2em;
}

.errorTemplate span {
    font-weight: 600;
    margin-right: 1em;
}

.errorTemplate div {
    padding: 0.4em;
    border-bottom: 1px solid rgba(70, 70, 70, 0.1);
}

.errorTemplate :last-child {
    border-bottom: unset;
}