/client/node_modules
/client/build
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local


/server/.env
/server/node_modules

testing