.btn {
    /* position: relative; */
    font-size: 1.5rem;
    height: 3.5rem;
    width: 12rem;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top-left-radius: 0.6em; */
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);

    margin: 1.4em 0;
    transform: scale(0.9);
    color: black;
    /* box-shadow: -1px -3px 2px 0px rgba(175, 157, 23, 0.463); */
}

.btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3.5rem;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);
}

.btn:hover {
    color: rgb(35, 35, 35);
    transform: scale(1);
}

.btn span {
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue::after {
    background-color: hsl(180, 100%, 50%);
}

.blue:hover::after {
    background-color: hsl(180, 100%, 40%);
}

.green::after {
    background-color: hsl(161, 100%, 50%);
}

.green:hover::after {
    background-color: hsl(161, 100%, 40%);
}

.yellow::after {
    background-color: hsl(60, 80%, 50%);
}

.yellow:hover::after {
    background-color: hsl(60, 80%, 40%);
}