.questions {
    color: black;
    display: flex;
}

.filter {
    width: 15rem;
}

.filterabs {
    margin-top: 0.8rem;
    width: 15rem;
    min-height: 85vh;
    position: fixed;
    z-index: 899;
    background-color: white;
    border-right: 1px solid rgba(34, 36, 38, 0.15);
}

.cards {
    width: 90%;
    height: 88vh;
    margin-right: 2px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}

@media (max-width:1000px) {
    .cards {
        width: 100%;
    }

    .filter {
        width: 0;
    }

    .filterabs {
        border-radius: 2px;
        box-shadow:
            rgb(0 0 0 / 10%) 0px 0px 2px 0px,
            rgb(0 0 0 / 10%) 0px 0px 5px 0px;
    }
}