.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.contain {
    width: 80%;
}

@media (max-width: 767px) {
    .container {
        padding-top: 2rem;
    }

    .contain {
        width: 100%;
    }
}

.back {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.back a {
    margin-top: unset;
}

.codeSnippet {
    color: hsl(208, 100%, 15%);
    letter-spacing: 0.02em;
    font-size: 0.7em;
    position: relative;
    top: -8px;
    left: -8px;
    padding: 0 1rem;
    font-weight: 100;
    font-family: SFMono, "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}